	body{
	background: #CCC;
}
#header a:hover{
	color: #FFF; 
}

#bg-img{
	background: url("img/21.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
	min-height: 500px; 
}

#About{
	margin-top: -200px;
}


#About span{
	padding: 10px 20px 10px 20px;
}
#About hr{
	border-width: 2px;
	margin-top: 6px;
}
.card-body{
	width: 77%; 
	margin-left: 12%;
}

#Experience .card{
	border-top: 03px solid red;
}
.bb{
	 list-style: box;
}